@use '../../../../styles/modules/mixins.scss' as mixins;

.fill-width {
  @include mixins.fill-width;
  background-color: white;
  margin-bottom: calc(var(--default-gap-px)/ 2);
  opacity: 1;
}

a.mat-tab-link  {
  font-size: 1rem;
  margin-right: var(--default-gap-px);
  min-width: max-content;
  padding: 0;

}

a.mat-tab-link:hover  {
  color:var(--primary-color-darker);
}

/* style a tab that is active via router link (i.e. not via a click) */
a.mat-tab-link.item-active {
  /* tab text stays solid black */
  opacity: 1.0;
  /* override the disabled color so disabled tabs can appear as selected (when they are selected via route) */
  color: rgba(0, 0, 0, 1.00);
}
