@use '../../../../styles/modules/mixins.scss' as mixins;

.fill-width {
  @include mixins.fill-width;
}

a {
  background-color: var(--primary-color-lighter);
  height: var(--list-height-px);
  line-height: var(--list-height-px);
  margin-right: var(--list-spacing);
  margin-bottom: var(--default-gap-px);
}

a:hover {
  background-color: var(--primary-color-darker);
}
