<mat-nav-list class="fill-width">
  <div
    *ngFor="let member of (members$ | async); trackBy: trackByFn"
    fxLayout="row"
    fxLayoutAlign="space-around"
  >
    <a
      mat-raised-button
      fxFlex="1 1 10%"
      routerLink="/{{routes.member.path}}/{{member.id}}"
    >
      {{member.id}}
    </a>

    <a
      mat-raised-button
      fxFlex="1 1 80%"
      routerLink="/{{routes.member.path}}/{{member.id}}"
    >
      {{member.name}}
    </a>
      <app-button
        icon="delete"
        [isWarn]=true
        (click)="delete(member)"
      >
      </app-button>
  </div>
</mat-nav-list>

<mat-divider></mat-divider>

<app-member-input
  [mode]="inputMode"
  inputText=""
  (inputEnter)='add($event)'
>
</app-member-input>

<mat-divider></mat-divider>

<app-member-search></app-member-search>
