a.id, a.detail {
  margin-right: var(--list-spacing);
  margin-bottom: var(--default-gap-px);
  background-color: var(--primary-color-lighter);
  height: var(--row-height);
}

a:hover {
  background-color: var(--primary-color-darker);
}

button.delete {
  margin-bottom: var(--default-gap-px);
  height: var(--row-height);
  background-color: var(--warn-color-lighter);
}

button.delete:hover {
  background-color: var(--warn-color-darker);
}
