
<div>

  <app-member-banner [member$]="change.member$"></app-member-banner>

  <mat-divider></mat-divider>

  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >

    <formly-form
      [form]="form"
      [fields]="fields"
      [model]="model"
      [options]="options"
    >
    </formly-form>

    <mat-divider></mat-divider>


  </form>

  <div
    class="buttons"
    fxLayout="row"
    fxLayoutAlign="space-between"
  >
    <button
      mat-raised-button
      class="add-button"
      fxFlex="0 0 40%"
      (click)="onSubmit()"
      [disabled]="!form.valid"
    >

    <mat-icon class="icon">update</mat-icon>
      {{ buttonLabel }}
    </button>
    <button
      mat-raised-button
      class="delete-button"
      fxFlex="0 0 40%"
      (click)="delete()"
      *ngIf="buttonLabel===updateLabel"
      >
      <mat-icon class="icon">delete</mat-icon>
        DELETE QUESTIONAIRE
    </button>
  </div>

</div>
