/* filter label */
mat-label {
  color: var(--primary-color-normal);
}

.add-button {
  margin-left: var(--default-gap-px);
  margin-bottom: calc(var(--default-gap-px)/2);
}

.fill-width {
  margin-left: var(--default-gap-px);
  margin-right: var(--default-gap-px);
}

div.container {
  overflow: auto;
}

.mat-header-cell {
  color: var(--primary-color-normal);
}

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}

@mixin mat-table-columns($columns) {
  .mat-column- {
    @each $colName, $props in $columns {
      $pc-flex: map-get($props, 'pc-flex');
      $align: map-get($props, 'align');
      $margin-right: map-get($props, 'margin-right');
      &#{$colName} {
        white-space: nowrap;
        justify-content: $align;
        text-align: $align;
        padding: 0px;
        margin-right: $margin-right;
        flex: 0 1 $pc-flex;
        @if map-has-key($props, 'color') {
          color: map-get($props, 'color');
        }
      }
    }
  }
}

@include mat-table-columns((
    date: (pc-flex: 15%, align: center, margin-right: 0px),
    type: (pc-flex: 25%, align: center, margin-right: 0px),
    duration: (pc-flex: 15%, align: center, margin-right: 0px),
    comment: (pc-flex: 45%, align: left, margin-right: var(--default-gap-px )),
));
