div.container {
  margin-left: var(--default-gap-px);
  height: calc(65vh);
  overflow: auto;
}
button.button {
  margin: 0px;
  padding-left: var(--default-gap-px);
  padding-right: var(--default-gap-px);
  padding-top: var(--list-spacing);
  padding-bottom: var(--list-spacing);
}

mat-icon.edit {
  padding: 0px;
  float: center;
}

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}

@mixin mat-table-columns($columns) {
  .mat-column- {
    @each $colName, $props in $columns {
      $pc-flex: map-get($props, 'pc-flex');
      &#{$colName} {
        word-break: break-all;
        justify-content: center;
        text-align: center;
        padding: 0px;
        flex: 0 1 $pc-flex;
        @if map-has-key($props, 'color') {
          color: map-get($props, 'color');
        }
      }
    }
  }
}

@include mat-table-columns((
    date: (pc-flex: 15%),
    type: (pc-flex: 25%),
    score: (pc-flex: 10%),
    time: (pc-flex: 10%),
    metric: (pc-flex: 10%),
    comment: (pc-flex: 20%),
    edit: (pc-flex: 10%),
));
