@use './themes.scss' as theme;

/**
  Elements that are common across components
 */

html {
  box-sizing: border-box;
  /* set 1rem size - browser standard is 16px */
  font-size: calc(var(--base-font));
}

html, body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-size: calc(var(--base-font));
}

 /* buttons */

 button.button {
  line-height: var(--list-height-px);
  margin-left: var(--default-gap-px);
  padding-left: var(--default-gap-px);
  padding-right: var(--default-gap-px);
  background-color: theme.$primary-lighter;
}

/* attempt tp prevent icon moving when screen changes size */
// button.button * mat-icon {
// position: absolute;
// top:25%;
// left: 4px;
// transform: translate(-12px, -50%);
// }

.button:hover:enabled {
  background-color: theme.$primary-darker;
}
