/* width is core element width + two margins */
main {
  width: calc(var(--element-width) + 2 * var(--default-gap-px));
  margin-left: 0px;
  margin-right: 0px;
}

app-login, mat-progress-bar, app-nav {
  position: sticky;
  top: 0;
  z-index: 1000;
}

app-nav {
  top: calc(var(--list-height-px)* 2);
}
