/* width is core element width + two margins */
main {
  width: calc(var(--element-width) + 2 * var(--default-gap-px));
  margin-left: 0px;
  margin-right: 0px;
}

footer {
  color: var(--primary-color-normal);
  margin: 0px;
  padding-left: var(--default-gap-px);
  padding-right: var(--default-gap-px);
  padding-top: var(--default-gap-px);
  padding-bottom: var(--default-gap-px);
}
