
@use './themes' as themes;

/* create variables for use throughout the app */
$default-gap: 1rem;
$element-width: 30rem;
$button-width: 4rem;
$inner-spacing: 0.5rem;
$memberslist-height: 2rem;
$default-font-size: calc(14rem/16);

/* narrow width for small screen */
$element-width-sm: 22rem;

/* theme colors */
$primary-darker: themes.$primary-darker;
$primary-normal: themes.$primary-normal;
$primary-lighter: themes.$primary-lighter;
$accent-darker: themes.$accent-darker;
$accent-normal: themes.$accent-normal;
$accent-lighter: themes.$accent-lighter;
$warn-darker: themes.$warn-darker;
$warn-normal: themes.$warn-normal;
$warn-lighter: themes.$warn-lighter;
