@use '../styles/components.scss' as c;

@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';

:root {
  /* fundamental constants */
  --base: 16;
  --sm-screen: 360;
  --big-screen: 720;

  /* growth ratio calculation */
  --default-gap-min: calc(var(--base) * 0.5);
  --default-gap-min-px: calc(var(--default-gap-min) * 1px);
  --default-gap-max: var(--base);
  --default-gap-diff: calc(var(--default-gap-max) - var(--default-gap-min));
  --sm-screen-px: calc(var(--sm-screen) * 1px);
  --big-screen-px: calc(var(--big-screen) * 1px);
  --screen-px-or-max: calc(min(var(--big-screen-px), 100vw));
  --screen-px-or-min: calc(max(var(--sm-screen-px), var(--screen-px-or-max)));
  --excess-above-min: calc(var(--screen-px-or-min) - var(--sm-screen-px));
  /* (actual-screen - sm-screen) / sm-screen */
  --ratio-px: calc(var(--excess-above-min) / var(--sm-screen));
  --default-gap-diff-px: calc(var(--ratio-px) * var(--default-gap-diff));

  /* calculate default-gap-px */
  --default-gap-px: calc(var(--default-gap-min-px) + var(--default-gap-diff-px));

  /* base-font variable size = 1rem */
  --base-font: calc(12px + var(--ratio-px) * 4);  // 18px for maximum screen

  /* spacing for lists etc */
  --list-spacing: calc(var(--default-gap-px) / 2);
  --list-height: calc(var(--default-gap-px) * 2);

  /* table row heights */
  --row-height-px: calc(var(--base) * 4 * 1px);

  /* mat-icon line-height */
  --icon-height-px: calc(var(--base) * 2 * 1px);

  /* width of all tables etc */
  --element-width: calc(var(--sm-screen-px) - ( 2 * var(--default-gap-px)) + (var(--ratio-px) * var(--sm-screen)));

  /* height of all tables etc */
  --element-height: 480px;

  --button-width: 4rem;

  /* colors */
  --primary-color-darker: #{c.$primary-darker};
  --primary-color-normal: #{c.$primary-normal};
  --primary-color-lighter: #{c.$primary-lighter};
  --accent-color-darker: #{c.$accent-darker};
  --accent-color-normal: #{c.$accent-normal};
  --accent-color-lighter: #{c.$accent-lighter};
  --warn-color-darker: #{c.$warn-darker};
  --warn-color-normal: #{c.$warn-normal};
  --warn-color-lighter: #{c.$warn-lighter};
}

html {
  box-sizing: border-box;
  /* set 1rem size - browser standard is 16px */
  font-size: calc(var(--base-font));
}

html, body{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
  /* override font in all mat elements etc */
  font-family: 'Roboto', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: calc(var(--base-font));
}

/**
 * Styles to penetrate encapsulation of material and other libraries which component styling can't override
 */

/* default to 24px when 1 rem = 16px */
.material-icons { font-size: calc(24rem/16); }

/* Workaround for https://github.com/angular/material2/issues/4580 fro mat-hint and mat-error overrun */
mat-form-field {
  .mat-form-field {
    &-underline {
      position: static;
    }

    &-wrapper {
      padding-bottom: 0;
    }

    &-subscript-wrapper {
      position: static;
    }
  }
}

/* format help header in ngx-datatable embedded html */
div.table-help {
  background-color: c.$content-lighter;
  margin-bottom: var(--default-gap-px);
  padding: 2px;
  text-align: center;
}

ngx-datatable {
  overflow-x: hidden !important;
  height: 100vh;
}

/* hide datatable summary row */
datatable-summary-row.datatable-summary-row {
  display: none;
}

datatable-body-row.datatable-body-row {
  padding: 2px !important;
  height: 34px !important;
}

datatable-body-cell.datatable-body-cell {
  font-size: calc(var(--base-font)) !important;
  padding: 2px !important;
}

.mat-form-field-flex {
  line-height: 1 !important;
  margin: 0px !important;
}
.mat-form-field-outline {
  top: 0px !important;
}
.mat-form-field-infix {
  border: 0px !important;
  line-height: 1 !important;
  padding-top: 6px !important;
  padding-bottom: 4px !important;
  padding-left: 0px !important;
  padding-right: 0px !important ;
}


/* allow rows only to go to the scroll bar */
div.datatable-row-center {
  padding-right: 16px !important;
}


/* rightmost table column */
// .scoresColumnRight {
//   margin-right: 1px !important;
// }
/* leftmost table column */
// .scoresColumnLeft div {
//   margin-left: 1px !important;
// }
