.full-width {
  background-color: var(--accent-color-normal);
  min-height: calc(var(--list-height-px)* 2);
  padding-left: var(--default-gap-px);
  padding-right: var(--default-gap-px);
}

.header {
  color: var(--primary-color-normal);
  font-size: 1.25rem;
}

app-button {
  margin-left: var(--default-gap-px);
}

.fit-picture {
  display: block;
  text-align: center;
  height: calc(16px + var(--default-gap-px) * 3);
}
