<mat-toolbar
  class="full-width"
  fxLayout="row"
  fxLayoutAlign="start center"
>

  <span
    fxFlex="0 1 auto"
    fxFlexAlign="start center"
  >
    <a href="https://efficient-performance.com">
      <img
        src="../../../../assets/efficient-performance-logo.webp"
        class="fit-picture"
        alt="Efficient-performance logo"
      >
    </a>
  </span>

  <span
    fxFlex="1 1 auto"
  >
  </span>

  <span
    fxFlex="0 0 auto"
    fxFlexAlign="center"
    class="header"
  >
    {{ header }}
  </span>

  <span
    fxFlex="1 1 auto"
  ></span>

  <span
    fxFlex="0 0 auto"
    fxFlexAlign="center"
    *ngIf="!isLoggedIn"
    (click)="login()"
  >
    <app-button
      [icon]="'login'"
      [text]="'LOG IN'"
    >
  </app-button>
  </span>

    <span
      fxFlex="0 0 auto"
      fxFlexAlign="center"
      *ngIf="isLoggedIn"
      (click)="logout()"
    >
      <app-button
        [icon]="'logout'"
        [text]="'LOG OUT'"
      >
    </app-button>
    </span>

</mat-toolbar>

