<mat-toolbar
  class="full-width"
  fxLayout="row"
  fxLayoutAlign="start"
>

  <span
    fxFlex="0 0 auto"
    fxFlexAlign="center"
    class="header"
  >
    {{ header }}
  </span>

  <!-- fills between left and right elements -->
  <span
    fxFlex="1 1 auto"
  ></span>

  <span
    fxFlex="0 0 auto"
    fxFlexAlign="center"
    *ngIf="!isLoggedIn"
    (click)="login()"
  >
    <app-button>LOG IN</app-button>
  </span>

    <span
      fxFlex="0 0 auto"
      fxFlexAlign="center"
      *ngIf="isLoggedIn"
      (click)="logout()"
    >
      <app-button>LOG OUT</app-button>
    </span>

</mat-toolbar>

