<mat-toolbar
  class="full-width"
  fxLayout="row"
  fxLayoutAlign="start"
>

  <span
    fxFlex="0 0 auto"
    fxFlexAlign="center"
    class="header"
  >
    {{ header }}
  </span>

  <!-- fills between left and right elements -->
  <span
    fxFlex="1 1 auto"
  ></span>

  <button
    mat-raised-button
    class="button"
    fxFlex="0 0 auto"
    fxFlexAlign="center"
    id="loginBtn"
    *ngIf="!isLoggedIn"
    (click)="login()"
  >
    Log In
  </button>

  <button
    mat-raised-button
    class="button"
    fxFlex="0 0 auto"
    fxFlexAlign="center"
    id="logoutBtn"
    *ngIf="isLoggedIn"
    (click)="logout()"
  >
    Log Out
  </button>

  <a
    *ngIf="isLoggedIn"
    [routerLink]="['profile']"
    fxFlex="0 0 auto"
    fxFlexAlign="center"
  >
    <button
      mat-raised-button
      class="button"
      id="profileBtn"
    >
      My Account
    </button>
  </a>

</mat-toolbar>

