/* import theme with styling variables */
@import 'src/styles/main-theme.scss';

@mixin styling(
  $default-gap: $default-gap,
  $element-width: $element-width,
  $button-width: $button-width,
  $inner-spacing: $inner-spacing,
  $memberslist-height: $memberslist-height,
  $default-font-size: $default-font-size,
) {

  mat-toolbar.banner {
    background-color: mat-color($accent, "lighter");
    width: ($element-width) * 2;
    font-size: calc($default-font-size * 1.5);
    margin-bottom: $default-gap;
  }
  .back-button {
    background-color: mat-color($primary, "lighter");
    width: calc($button-width * 2.5);
    padding-left: $default-gap / 2;
  }
  .back-button:hover {
    background-color: mat-color($primary, "darker");
  }
  mat-icon.icon {
    float:left;
    line-height: calc(36rem/16);
  }
  span.name {
    text-align: center;
    line-height: calc(36rem/16);
  }

  mat-form-field.filter {
    width: ($element-width) * 2;
  }
  mat-select.mat-select {
    line-height: $default-font-size;
    font-size: $default-font-size;
  }

  div.table-container {
    margin: 0;
    height: calc(70vh);
    width: ($element-width) * 2;
    overflow: auto;
  }

  mat-header-cell.mat-header-cell {
    font-weight: bold;
    font-size: $default-font-size;
  }

  mat-footer-row.mat-footer-row {
    font-weight: bold;
    font-size: $default-font-size;
  }

  mat-icon.edit {
    float: right;
    height: $memberslist-height;
    line-height: calc(36rem/16);
  }

  .edit-button {
    background-color: mat-color($primary,"lighter");
    float: center;
    margin-left: 0px;
    margin-right: 0px;
  }
  .edit-button:hover {
    background-color: mat-color($primary, "darker");
  }

  .mat-paginator-sticky {
    bottom: 0px;
    position: sticky;
    z-index: 10;
  }

}

/* narrow element width for small screen */
@media screen and (max-width: 520px) {
  @include styling(
    $element-width: $element-width-sm,
  )

}

/* global defaults */
@media screen and (min-width: 520px) {
  @include styling();
}
