@use '../../../../styles/modules/mixins.scss' as mixins;

.fill-width {
  @include mixins.fill-width;
  max-width: var(--element-width); // override width = 100%
  @include mixins.mat-card-info;
  height: calc(var(--list-height-px)* 2);
}

mat-icon.mat-icon {
  height: 100%;
}

span.name {
  text-align: center;
  font-size: 1.25rem;
}
