@use '../../../styles/main-theme.scss' as main;

@mixin styling(
  $default-gap: main.$default-gap,
  $element-width: main.$element-width,
  $button-width: main.$button-width,
  $inner-spacing: main.$inner-spacing,
  $memberslist-height: main.$memberslist-height,
  $primary-darker: main.$primary-darker,
  $primary-normal: main.$primary-normal,
  $primary-lighter: main.$primary-lighter,
  $accent-darker: main.$accent-darker,
  $accent-normal: main.$accent-normal,
  $accent-lighter: main.$accent-lighter,
  $warn-darker: main.$warn-darker,
  $warn-normal: main.$warn-normal,
  $warn-lighter: main.$warn-lighter,
) {

  .member-card {
    margin-left: $default-gap;
    margin-right: $default-gap;
    width: ($element-width - (2 * $default-gap));
    background-color: $accent-lighter;
  }
  mat-list-item.mat-list-item {
    height: 2rem;
  }

  .action-button {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: $default-gap / 2;
    background-color: $primary-lighter;
  }

  .action-button:hover {
    background-color: $primary-darker;
  }

  mat-icon.icon {
    float:left;
    line-height: calc(36rem/16);
  }

  mat-card-actions a {
    margin-left: 0px;
    margin-right: 0px;
  }

  /* provide a margin around the divider */
  mat-divider.mat-divider {
    margin: $default-gap;
  }

}

/* narrow element width for small screen */
@media screen and (max-width: 520px) {
  @include styling(
    $element-width: main.$element-width-sm,
  )

}

/* global defaults */
@media screen and (min-width: 520px) {
  @include styling();
}
