/* import theme with styling variables */
@import 'src/styles/main-theme.scss';

@mixin styling(
  $default-gap: $default-gap,
  $element-width: $element-width,
  $button-width: $button-width,
  $inner-spacing: $inner-spacing,
  $memberslist-height: $memberslist-height,
) {

  .member-card {
    margin-left: $default-gap;
    margin-right: $default-gap;
    width: ($element-width - (2 * $default-gap));
    background-color: mat-color($accent, "lighter");
  }
  mat-list-item.mat-list-item {
    height: 2rem;
  }

  .action-button {
    background-color: mat-color($primary,"lighter");
    margin-left: 0px;
    margin-right: 0px;
    padding-left: $default-gap / 2;
  }

  .action-button:hover {
    background-color: mat-color($primary, "darker");
  }

  mat-icon.icon {
    float:left;
    line-height: calc(36rem/16);
  }

  mat-card-actions a {
    margin-left: 0px;
    margin-right: 0px;
  }

  /* provide a margin around the divider */
  mat-divider.mat-divider {
    margin: $default-gap;
  }

}

/* narrow element width for small screen */
@media screen and (max-width: 520px) {
  @include styling(
    $element-width: $element-width-sm,
  )

}

/* global defaults */
@media screen and (min-width: 520px) {
  @include styling();
}
