<app-member-banner [member$]="member$"></app-member-banner>

<mat-divider></mat-divider>

<mat-card class="fill-width">

  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <span
          mat-line
          id="memberId"
          #memberId
          attr.data-displayed="{{(member$ | async)?.id}}"

        >
          <span class="field-name">ID NUMBER:</span>
          &nbsp; &nbsp;
          {{ (member$ | async)?.id }}
        </span>
      </mat-list-item>

      <mat-list-item>
        <span
          mat-line
          id="memberName"
        >
          <span class="field-name">NAME:</span>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          {{ (member$ | async)?.name }}
        </span>
      </mat-list-item>
    </mat-list>

  </mat-card-content>

</mat-card>

<mat-divider></mat-divider>

<app-member-input
  [mode]="inputMode"
  [inputText]="(member$ | async)?.name!"
  (inputEnter)='save($event, memberId.dataset.displayed!)'
>
</app-member-input>
