<ngx-datatable
  #table
  class="material"
  [rows]="model"
  [columns]="to.columns"
  [columnMode]="'flex'"
  [footerHeight]="0"
  [reorderable]="false"
  [swapColumns]="false"
  [externalSorting]="true"
  [externalPaging]="false"
  [selectionType]="selectionType"
  [trackByProp]="'name'"
  [virtualization]="true"
  [summaryRow]="enableSummary"
>
  <ng-template
    #defaultColumn
    ngx-datatable-cell-template
    let-rowIndex="rowIndex"
    let-value="value"
    let-row="row"
    let-column="column"
  >
    <formly-field
      [field]="getField(field, column, rowIndex)"
    >
    </formly-field>
  </ng-template>
</ngx-datatable>
