/* import theme with styling variables */
@import 'src/styles/main-theme.scss';

@mixin styling(
  $default-gap: $default-gap,
  $element-width: $element-width,
  $button-width: $button-width,
  $inner-spacing: $inner-spacing,
  $memberslist-height: $memberslist-height,
) {

  mat-nav-list {
    width: $element-width * 1.5;
    margin-left: $default-gap;
  }

  a {
    background-color: mat-color($primary, "lighter");
    height: $memberslist-height;
    margin-right: $inner-spacing;
    margin-bottom: $default-gap;
  }

  a.id {
    cursor: default;
  }

  a.detail {
    background-color: mat-color($primary);
  }

  a.link:hover {
    background-color: mat-color($primary, "darker");
  }

  button.delete {
    background-color: mat-color($warn);
    height: $memberslist-height;
  }

  button.delete:hover {
    background-color: mat-color($warn, "darker");
  }


  /* provide a margin around the divider */
  mat-divider.mat-divider {
    margin: $default-gap;
  }
}

/* narrow element width for small screen */
@media screen and (max-width: 520px) {
  @include styling(
    $element-width: $element-width-sm,
  )

}

/* global defaults */
@media screen and (min-width: 520px) {
  @include styling();
}

