<mat-nav-list>

  <div
    class="list"
    *ngFor="let member of (members$ | async); trackBy: trackByFn"
    fxLayout="row"
    fxLayoutAlign="space-around"
  >

    <a
      mat-raised-button
      class="id"
      fxFlex="1 1 5%"
    >
      {{member.id}}
    </a>

    <a
      mat-raised-button
      class="detail"
      fxFlex="1 1 30%"
      routerLink="/detail/{{member.id}}"
    >
      {{member.name}}
    </a>

    <a
      mat-raised-button
      class="link"
      fxFlex="1 1 30%"
      routerLink="/member/{{member.id}}/session"
    >
      Enter a Session
    </a>

    <a
      mat-raised-button
      class="link"
      fxFlex="1 1 30%"
      routerLink="/sessions/{{member.id}}"
    >
      Review Sessions
    </a>

    <button
      mat-raised-button
      class="delete"
      fxFlex="1 1 5%"
      (click)="delete(member)"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</mat-nav-list>

<mat-divider></mat-divider>

<app-member-input
[mode]="inputMode"
inputText=""
(inputEnter)='add($event)'
>
</app-member-input>
