@use '../../../styles/components.scss' as c;

a.id, a.detail {
  margin-right: var(--list-spacing);
  margin-bottom: var(--default-gap-px);
  background-color: c.$primary-lighter;
}

a:hover {
  background-color: c.$primary-darker;
}

button.delete {
  margin-bottom: var(--default-gap-px);
  background-color: c.$warn-lighter;
}

button.delete:hover {
  background-color: c.$warn-darker;
}
