div.container {
  margin-left: var(--default-gap-px);
  overflow: auto;
  width: var(--element-width);
}

.mat-table {
  overflow-x: scroll;
}

.mat-cell,
.mat-header-cell {
  display: table-cell;
  padding-left: 4px;
  padding-right: 4px
}
.mat-header-cell {
  color: var(--primary-color-darker);
}

.mat-header-row {
  border-top: 0.25px solid black;
  border-bottom: 0.25px solid black;
  box-sizing: border-box;
  display: table-row;
  min-height: 60px; // ensures first cell with no content is the same height as the others
}
.mat-row {
  border-bottom: 0.25px solid black;
  box-sizing: border-box;
  display: table-row;
  padding: 0px;
}

@mixin mat-table-columns($columns) {
  .mat-column- {
    @each $colName, $props in $columns {
      $pc-flex: map-get($props, 'pc-flex');
      &#{$colName} {
        border-right: 0.25px solid black;
        box-sizing: border-box;
        flex: 0 1 $pc-flex;
        justify-content: center;
        overflow-wrap: break-word;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        @if map-has-key($props, 'padding') {
          padding: map-get($props, 'padding');
        }
        @if map-has-key($props, 'color') {
          color: map-get($props, 'color');
        }
      }
    }
  }
}

@include mat-table-columns((item: (pc-flex: 15%, padding: 5px, color: var(--primary-color-darker))));
/* set the number of columns to a maximum possible value - it will work with smaller numbers of columns so no need to edit here if you reduce */
$numberSummaryColumns: 100;
@for $i from 1 through $numberSummaryColumns {
  @include mat-table-columns((wk#{$i}: (pc-flex: 8.5%)));
}

.mat-column-item {
  border-left: 0.25px solid black;
}

.row-is-even {
  background: rgb(215, 215, 215);
}
