

<div
  class="container mat-elevation-z8"
  *ngIf="!isChartShown"
>

<app-text-info
  [line1]='summaryLine1'
  [line2]='summaryLine2'
  [line3]='summaryLine3'
  [line4]='summaryLine4'
  [isGoBackVisible]='isSummaryBackVisible'
>
</app-text-info>

  <mat-table
    id="summary-table"
    [dataSource]="dataSource"
  >

    <!-- Define names column -->
    <ng-container
      [matColumnDef]="dataNames.columnDef"
      sticky="true"
      >
      <mat-header-cell
        *matHeaderCellDef
      >
        {{dataNames.header }}
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        {{dataNames.cell(row)}}
      </mat-cell>
    </ng-container>

    <!-- Define the data columns -->
    <ng-container
      *ngFor="let column of dataColumns"
      [matColumnDef]="column.columnDef"
    >
      <mat-header-cell
        *matHeaderCellDef
      >
        {{column.header | date: 'dd' }}
        <br>
        {{column.header | date: 'MMM' }}
        <br>
        {{column.header | date: 'yyyy' }}
      </mat-header-cell>
      <mat-cell
        *matCellDef="let row"
      >
        {{column.cell(row)}}
      </mat-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="columnsToDisplay; sticky: true"
    >
    </mat-header-row>

    <mat-row
      *matRowDef="let row; columns: columnsToDisplay; let even=even;"

      (click)="clickRow(row)"
      [class.row-is-even]=even
      [class.hidden]="rowIsHidden(row)"
    >
    </mat-row>

  </mat-table>

</div>

<div
  *ngIf="isChartShown"
  >

  <app-text-info
    [line1]='chartLine1'
    [line2]='chartLine2'
    [line3]='chartLine3'
    [isGoBackVisible]='isChartBackVisible'
    (backClicked)="onChartBackClicked()"
  >
  </app-text-info>

  <summary-chart
    [metric]="rowName"
    [data]="rowChartData"
  >
  </summary-chart>

</div>
