@use '../../../styles/main-theme.scss' as main;

@mixin styling(
  $default-gap: main.$default-gap,
  $element-width: main.$element-width,
  $button-width: main.$button-width,
  $inner-spacing: main.$inner-spacing,
  $memberslist-height: main.$memberslist-height,
  $primary-darker: main.$primary-darker,
  $primary-normal: main.$primary-normal,
  $primary-lighter: main.$primary-lighter,
  $accent-darker: main.$accent-darker,
  $accent-normal: main.$accent-normal,
  $accent-lighter: main.$accent-lighter,
  $warn-darker: main.$warn-darker,
  $warn-normal: main.$warn-normal,
  $warn-lighter: main.$warn-lighter,
) {

  .button {
    margin-left: $default-gap;
    background-color: $primary-normal;
  }

  .button:hover {
    margin-left: $default-gap;
    background-color: $primary-darker;
  }

}

/* narrow element width for small screen */
@media screen and (max-width: 520px) {
  @include styling(
    $element-width: main.$element-width-sm,
  )

}

/* global defaults */
@media screen and (min-width: 520px) {
  @include styling();
}
