@use '../../../styles/components.scss' as c;

mat-toolbar.mat-toolbar {
  padding-left: var(--default-gap-px);
  padding-right: var(--default-gap-px);
  background-color: c.$accent-lighter;
}

button.button {
  padding-left: var(--default-gap-px);
}

