<mat-card
  *ngIf="(userProfile$ | async)?.email"
  class="fill-width"
>

  <mat-card-header>
    <mat-card-title>MY PROFILE</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <span
          mat-line
          id="profileName"
          #profileName
          attr.data-displayed="{{(userProfile$ | async)?.name}}"

        >
          NAME:  {{(userProfile$ | async)?.name}}
        </span>
      </mat-list-item>

      <mat-list-item>
        <span
          mat-line
          id="profileEmail"
          #profileEmail
          attr.data-displayed="{{(userProfile$ | async)?.email}}"

        >
          EMAIL:  {{(userProfile$ | async)?.email}}
        </span>
      </mat-list-item>
      <mat-list-item>
        <span
          mat-line
          attr.data-displayed="{{(userProfile$ | async)?.id}}"
        >
          ID: {{(userProfile$ | async)?.id}}
        </span>
      </mat-list-item>
        <mat-list-item>
          <span
            mat-line
            attr.data-displayed="{{(userProfile$ | async)?.roles}}"
          >
            ROLES: {{(userProfile$ | async)?.roles}}
          </span>
        </mat-list-item>
    </mat-list>


  </mat-card-content>

  <mat-card-actions>
    <span
      (click)="goBack()"
    >
      <app-button
        icon="arrow_back_ios"
      >
        BACK
      </app-button>
    </span>
  </mat-card-actions>

</mat-card>
