.day, .ampm, .load, .item {
  color: var(--primary-color-darker),
}

.popup .popupText {
  border: none;
  width: var(--element-width);
  background-color: var(--content-color-lighter);
  border-radius: calc(var(--default-gap-px) / 2);
  padding: calc(var(--default-gap-px) / 2);
}

textarea {
  resize: none;
}

app-button {
  margin-right: var(--default-gap-px);

}

div.popup {
  margin-bottom: calc(var(--default-gap-px) / 2);
}
