<app-text-info
  [text]='text'
  [isGoBackVisible]=false

></app-text-info>

<mat-card class="fill-width">

  <mat-card-content>
    <mat-list>

      <mat-list-item>
        <span
          mat-line
        >
          <span class="field-name">NAME:</span>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          {{ (member$ | async)?.name }}
        </span>
      </mat-list-item>

       <mat-list-item>
        <span
          mat-line
          #memberId
          attr.data-displayed="{{(member$ | async)?.id}}"
        >
          <span class="field-name">MEMBER ID:</span>
          &nbsp; &nbsp;
          {{ (member$ | async)?.id }}
        </span>
      </mat-list-item>

      <mat-list-item>
        <span
          mat-line
        >
        <span class="field-name">EMAIL:</span>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          {{(userProfile$ | async)?.email}}
        </span>
      </mat-list-item>

      <mat-list-item>
        <span
          mat-line
        >
        <span class="field-name">ROLE:</span>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          {{(userProfile$ | async)?.roles}}
        </span>
      </mat-list-item>
    </mat-list>

  </mat-card-content>

</mat-card>
