@use '../../../../styles/modules/mixins.scss' as mixins;

.fill-width {
  @include mixins.mat-card-info(var(--content-color-lighter));
  @include mixins.fill-width;
}

mat-card-actions {
  margin-left: var(--default-gap-px);
}

mat-list {
  padding-top: 0px;
}


mat-list-item.mat-list-item {
  height: 2rem;
}

.field-name {
  color: var(--primary-color-darker);
}
