.action-button {
  line-height: var(--list-height-px);
  padding-left: var(--default-gap-px);
  padding-right: var(--default-gap-px);
  background-color: var(--primary-color-lighter);
}

.action-button:hover:enabled {
  background-color: var(--primary-color-darker);
}

.warn {
    background-color: var(--warn-color-lighter);
}

.warn:hover:enabled {
  background-color: var(--warn-color-darker);
}

mat-icon.mat-icon {
  height: 100%;
}
