@use '../../../styles/modules/mixins.scss' as mixins;

.fill-width {
  @include mixins.fill-width;
  max-width: var(--element-width); // override width = 100%
  @include mixins.mat-card-info;
  height: calc(var(--default-gap-px) * 4);
}

span.name {
  text-align: center;
  line-height: calc(36rem/16);
}
