@use '../../../../styles/modules/mixins.scss' as mixins;

.fill-width {
  @include mixins.mat-card-info(var(--accent-color-lighter));
  @include mixins.fill-width;
  padding-top: var(--default-gap-px);
  padding-bottom: var(--default-gap-px);
}

mat-card-title.mat-card-title {
  color: var(--primary-color-normal);
  margin-bottom: var(--default-gap-px);
}

mat-card-actions.mat-card-actions {
  margin-left: var(--default-gap-px);
}
.mat-card > .mat-card-actions:last-child {
  margin-bottom: 0px;
}

/* pointer cursor only when login page showing */
.logPage {
  cursor: pointer;
}
