@use '../../../../styles/modules/mixins.scss' as mixins;

.fill-width {
  @include mixins.mat-card-info;
  @include mixins.fill-width;
}

mat-card-actions {
  margin-left: var(--default-gap-px);
}

/* pointer cursor and primary color only when login page showing */
.logPage {
  cursor: pointer;
  background-color: var(--primary-color-lighter);
}
