@use '../../../../../styles/modules/mixins.scss' as mixins;

.fill-width {
  @include mixins.mat-card-info(var(--content-color-lighter));
  @include mixins.fill-width;
  padding-top: var(--default-gap-px);
  padding-bottom: var(--default-gap-px);
  margin-top: var(--default-gap-px);
  margin-bottom: var(--default-gap-px);
}

mat-card-content {
  margin-bottom: 0px;
  padding: 0px;
}

div > p {
  color: var(--primary-color-darker);
  margin: 0px;
  padding-left: var(--default-gap-px);
}

mat-card-actions.mat-card-actions {
  margin-left: var(--default-gap-px);
}
.mat-card > .mat-card-actions:last-child {
  margin-bottom: 0px;
}
