@use '../../../styles/components.scss' as c;

.fill-width {
  background-color: c.$accent-lighter;
  height: calc(var(--default-gap-px) * 4);
  border: 1px solid rgba(0,0,0,0.06);
}

span.name {
  text-align: center;
  line-height: calc(36rem/16);
}

button.button {
  height: calc(var(--default-gap-px) * 3);
}
