@use '../../../../styles/modules/mixins.scss' as mixins;

/* size set by font size */
.fill-width {
  @include mixins.fill-width;
  margin-top: calc(var(--default-gap-px) / 2);
  width: var(--element-width);
}

mat-hint {
  font-size: 75%;
}
